/*CSS pagina di recupero*/
body {
	background-color: #F0FFF0;	/*Honey_Dew*/
	margin: 0;
	padding:0;
	height:100%;
}

.division {
	width: 471px;
	height: 331px;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
}

.label_C{
	display: block;
	margin-bottom: 2px;
	font-family: sans-serif;
	margin-left: 238px;;
	color: black;
	vertical-align: text-top;
	transition : color 0.5s ease-in-out;	/*Transizione cambio di colore in caso di errore*/
}

.error_A{color: red;}

input[type="text"]{
	padding: 5px;
	display: block;
	margin:auto;
	margin-bottom: 2px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	outline: none;
	transition : border 0.5s ease-in-out;	/*Transizione cambio di colore in caso di errore*/
}

input[type="text"]:focus {
	border: 1px solid #9999ff;
	box-shadow: 0 0 2px 2px #FF4500; /*Orangered*/
}


input[type="submit"]{
	width: 200px;
	padding: 5px;
	outline: none;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white; 
}

input[type="submit"]:hover{
	color: white;
	font-weight: bold;
	background-color: #09C;
}

input[type="text"].error { border: 1px solid red; }

#vertical_B{
	width: 657px;
	float: left;
	display: inline-block;
}

#table_B, #h{
	margin: auto;
	border: 1px solid black;
	border-collapse: collapse;
	font-family: sans-serif;
	color: white;
}

#h{
	background-color: #FF6347;
}

.cell{
	background-color: white;
	color: black;
	font-family: sans-serif;
	border: 1px solid black;
}



#hollow{
	display: none;
	background-color: white;
	color: black;
	font-family: sans-serif;
	border: 1px solid black;
}

#sub{
	margin-top: 3px;
	display: block;
	margin-left: auto;
	margin-bottom: 3px;
	width: 100px;
}

/*Parte relativa al custom alert*/
div#alert {
	border-top: 1px solid black;
	position: fixed;
	bottom: -30px;
	width: 100%;
    height: 30px;
	background-color: red;	/*#B22222 Fire_Brick*/
	color: white;
	padding: 0;
	transition: bottom 0.5s ease-in-out;
}

div#alert div {
	text-align: center;
	font-size: 19px;
}

